*{
    margin: 0;
    padding: 0;
    outline: 0;
    font-family: 'Open Sans', sans-serif;
}
body{
    height: 100vh;
    background-image: url(1205623.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.container{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    padding: 20px 25px;
    width: 300px;

    background-color: rgba(0,0,0,.7);
    box-shadow: 0 0 10px rgba(255,255,255,.3);
}
.container h1{
    text-align: left;
    color: #fafafa;
    margin-bottom: 30px;
    text-transform: uppercase;
    border-bottom: 4px solid #2979ff;
}
.container label{
    text-align: left;
    color: #90caf9;
}
.container form input{
    width: calc(100% - 20px);
    padding: 8px 10px;
    margin-bottom: 15px;
    border: none;
    background-color: transparent;
    border-bottom: 2px solid #2979ff;
    color: #fff;
    font-size: 20px;
}
.container form button{
    width: 100%;
    padding: 5px 0;
    border: none;
    background-color:#2979ff;
    font-size: 18px;
    color: #fafafa;
}
/* Navbar */

nav {
  display: flex;
  justify-content: space-between;
  padding: 2.4rem 14rem;
  color: #263238;
  border-bottom: 1px solid #e6e9ec;
  box-shadow: 0 4px 18px rgba(0, 0, 0, 0.08);
}

nav .nav-brand {
  font-size: 2rem;
  font-weight: 600;
  cursor: pointer;
  transition: all 0.3s;
}

nav .nav-section {
  display: flex;
  align-items: center;
}

nav .nav-section ul {
  list-style: none;
}

nav .nav-section ul li {
  display: inline-block;
  margin-left: 2rem;
}

nav .nav-section ul li a {
  font-size: 1.5rem;
  text-decoration: none;
  color: #000;
  transition: all 0.3s;
}

nav .nav-brand:hover,
nav .nav-section ul li a:hover {
  color: #407bff;
}

/* End Navbar */
body,html{
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100vh;
    font-family: sans-serif;
}
.Section_top{
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: relative;
    background-image: url(pexels-btgl-♡-3894157.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    justify-content: center;
    animation: change 10s infinite ease-in-out;
}
.content{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-transform: uppercase;

}
}
.content a{
    background: #85c1ee;
    padding: 10px 24px;
    text-decoration: none;
    font-size: 18px;
    border-radius: 20px;
}
.content a:hover{
    background: #034e88;
    color: #fff;
}
@keyframes change{
    0%
    {
        background-image: url(12449.png);
    }
    20%
    {
        background-image: url(pexels-photo-3623207.jpeg);
    }
    40%
    {
        background-image: url(pexels-photo-3052361.jpeg);
    }
    60%
    {
        background-image: url(Cats-Eye-Nebula.jpg);
    }
    80%
    {
        background-image: url(pexels-oliver-sjöström-1433052.jpg);
    }
    100%
    {
        background-image: url(pexels-pixabay-326055.jpg);
    }
}